*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	
}
#header{
	width: 920px;
	display: block;
	padding: 15px;
	background-image: linear-gradient(#f2f2f2,#fdfdfd);
	margin: 0 auto;
}

#wrapper{
	width: 950px;
	background-color: #49353d;
	margin: 0 auto;
}
#header h1{
	font-family: "comic sans ms", sans-serif;
	display: inline-block;
	width: 560px;
	padding-left: 20px;
}
#header ul{
	display: inline-block;
}
#header ul li{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-align: center;

}

#content{
	display: block;
	width: 925px;
	padding: 10px;
	margin: 0 auto;
}

#about{
		display: inline-block;
		vertical-align: top;
		margin-left: 26px;
}
.header2{
	width: 428px;
	height: 30px;
	background-image: linear-gradient(#afaeb3,#878593, #afaeb3);
	padding: 10px;
	vertical-align: top;
}
.bio{
	background-image: linear-gradient(to right, #fefefe, #dccddb);
	padding: 10px;
	width: 428px;
	min-height: 221px;

}
#photo img{
	height: 281.25px;
	width: 427.5px;
	object-fit: contain;
	display: inline-block;
	border-style: solid;
	border-color: #c0c0c0;
	border-width: 5px;

}
#photo{
	display: inline-block;
	vertical-align: top;
}
#work{	
	display: inline-block;
	padding: 15px;
}
#work > div + div{
	margin-left: 8px;
}
.lamode{
	background-image: linear-gradient(to right, #fefefe, #dccddb);
	display: inline-block;
	width: 293.33px;
	min-height: 430px;
	vertical-align: top;
}
.family{
	background-image: linear-gradient(to right, #fefefe, #dccddb);
	display: inline-block;
	width: 293.33px;
	min-height: 430px;
	vertical-align: top;
}
.five{
	background-image: linear-gradient(to right, #fefefe, #dccddb);
	display: inline-block;
	width: 293.33px;
	min-height: 430px;
}
.header3{
	width: 100%;
	box-sizing: border-box;
	background-image: linear-gradient(#afaeb3,#878593, #afaeb3);
	padding: 10px;
	vertical-align: top;
}
.header4{
	width: 100%;
	box-sizing: border-box;
	background-image: linear-gradient(#afaeb3,#878593, #afaeb3);
	padding: 10px;
	vertical-align: top;
}
.header5{
	width: 100%;
	box-sizing: border-box;
	background-image: linear-gradient(#afaeb3,#878593, #afaeb3);
	padding: 10px;
	vertical-align: top;
}

h2{
	color: #ffffff;
}
h3{
	color: #ffffff;
}
p{
	margin-top: 10px;
}
.photo img{
	width: 293.33px;
	object-fit: contain;
}
.lamode img{
	width: 293.33px;
	object-fit: contain;
}
.family img{
	width: 293.33px;
	object-fit: contain;
}
.five img{
	width: 293.33px;
	object-fit: contain;
}
#work p{
	padding: 8px;
}
.technologies p{
	background-image: linear-gradient(to right, #fefefe, #dccddb);
	display: inline-block;
	width: 100%;
	vertical-align: top;
	width: 277.22px;
	text-align: center;
	height: 35px;
	padding-top: 0px;
	font-weight: bold;
}

#work h3{
	width: 100%;
	box-sizing: border-box;
	background-image: linear-gradient(#afaeb3,#878593, #afaeb3);
	padding: 10px;
}
#work a{
	border-radius: 10px;
	text-align: center;
	background: #407d61;
	color: white;
	padding: 8px;
	text-decoration: none;
	box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.75);
}
.technologies{
	width: 99.4%;
	box-sizing: border-box;
	background-image: linear-gradient(to right, #fefefe, #dccddb);
	display: inline-block;
	min-height: 170px;

}


#lamaster, #famaster, #fivemaster{
	display: inline-block;
	vertical-align: top;
	width: 295px;
}
#footer{
	width: 920px;
	display: block;
	padding: 15px;
	background-image: linear-gradient(#f2f2f2,#fdfdfd);
	margin: 0 auto;
	text-align: center;	
}
.technologies img{
	width: 30px;
	object-fit: contain;
	margin: 10px;
}
#footer img{
	width: 18px;
	object-fit: contain;
}
#footer a{
	font-style: italic;
	color: black;
}